<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Admin Person (Service)    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="this.Servicio.arPersonas.length !== 0">
   
    <ion-card><!--  -->
      <ion-card-header>

        <ion-card-title>Mis contactos</ion-card-title>
      
        
      </ion-card-header>
      <ion-card-content>
        
        <ion-item>       
           <p>Ver notas</p><ion-toggle slot="end" item-end (ionChange)="this.Servicio.muestra()" ></ion-toggle>
        </ion-item>

  
      </ion-card-content>
    </ion-card>


    
    <ion-card *ngFor="let nombrew of this.Servicio.arPersonas; let i=index" [ngClass]="{'blue':nombrew.sexo,'pink':!nombrew.sexo}"><!--  -->
     
      <ion-card-header >

        <ion-card-title>Nombre: {{nombrew['strnombre']}}</ion-card-title>
        <ion-card-subtitle>Telefono:  {{nombrew['strtele']}}<br></ion-card-subtitle>
        
      </ion-card-header>
      <ion-card-content *ngIf="this.Servicio.ping==1">
      
           Notas: {{nombrew['strnot']}}
  
      </ion-card-content>
      
      <ion-item>

        <ion-button size="small" slot="end" class="del" color="danger" item-end (click)="this.Servicio.presentAlertConfirm(i)"><ion-icon name="close-outline"></ion-icon></ion-button>

      </ion-item>
   
    </ion-card>
  
    
  </div>
  <div *ngIf="this.Servicio.arPersonas.length==0">
      <h1>No se han agregado contactos</h1>
  </div>

</ion-content>
